<section class="displaySection">
    <div class="row col-12 section">
        <div class="col-lg-6 col-sm-12 col-md-12 padding0 subSection addressMapContainer">
            <div class="addressMapSubContainer">
                <span class="subHeading">
                    St Ann’s Sneha Bhavan Women's Shelter Home
                </span>
                <h1 class="mainHeading">
                    CRISIS INTERVENTION CENTRE FOR WOMEN AT RISK
                </h1>
                <span class="addressContainer">
                    Waki Khurd, Khed Tal.gat No. 69/8,<br />
                    Chakan, Pune - 410501, <br />
                    Maharashtra, India
                </span>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 padding0 subSection">
            <div class="mapContainer">
                <div id="map" class="map"></div>
            </div>
        </div>
    </div>
    <br />
    <div class="row col-12 section">
        <div class="col-lg-6 col-md-12 col-sm-12 padding0">
            <div class="contactNos col-lg-12 padding0">
                Contact Numbers: &nbsp; +91 98507 92334, +91 96033 65940, +91 70830 05849
            </div> 
            <span class="helplineNo" title="Click to copy Helpline No"  (click)="copyNumber('+91 72495 07474')">Helpline No: +91 72495 07474
                <i class="far fa-copy copyNo"></i>
            </span>
            <span class="copiedtxt">{{tooltipString}}</span>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 padding0">
            <div class="row socialSites">
                <a><img src="../../assets/images/facebook.png"> </a>
                <a><img src="../../assets/images/instagram.png"> </a>
                <a href="mailto:stannsmaha@gmail.com"><img src="../../assets/images/gmail.png"></a>
                <a><img src="../../assets/images/linkedin.png"> </a>
            </div>
            <div class="row copyrightText"><i class="far fa-copyright"></i> A Unit of St.Ann’s Society, Maharashtra Trust Reg.No.253, Ahmednagar</div>    
        </div>
    </div>

</section>