<section class="displaySection">
    <div class="row col-12 section">
        <div class="col-lg-6 col-sm-12 col-md-12 subSection titleSection darkBg">
            <div class="col-12 titleSectionDiv">
                <span class="subHeading">
                    {{title}}
                </span>
                <h1 class="mainHeading">
                    {{heading}}
                </h1>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 subSection">
            <div class="imageContainer">
                <img class="mainImg" src="../../assets/images/display-images/41.jpg">
            </div>
        </div>
    </div>

    <hr class="hrLine"/>

    <div class="row col-12 section">
        <div class="col-lg-6 col-sm-12 col-md-12 subSection">
            <div class="imageContainer padding0">
                <div class="col-12 row padding0">
                    <div class="col-6 padding0">
                        <img class="multipleImages" src="../../assets/images/display-images/2.jpg">
                    </div>
                    <div class="col-6 padding0">
                        <img class="multipleImages" src="../../assets/images/display-images/4.jpg">
                    </div>
                </div>
                <div class="col-12 row padding0">
                    <div class="col-6 padding0">
                        <img class="multipleImages" src="../../assets/images/display-images/19.jpg">
                    </div>
                    <div class="col-6 padding0">
                        <img class="multipleImages" src="../../assets/images/display-images/6.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 subSection textSection">
            <div class="col-12 textSectionDiv">
                <h3 class="subHeading">
                    Offers a helping hand to the women in crisis
                </h3>
                <p class="subText">
                    St. Ann's Sneha Bhavan Women's Shelter Home renders its helping hand to the women in crisis, who need support,
                    understanding, safety and security.
                    Life is precious and it is to be valued, cared, protected, dignified and up held.
                </p>
            </div>
        </div>
    </div>

    <hr class="hrLine"/>

    <div class="row col-12 section">
        <div class="col-lg-6 col-sm-12 col-md-12 subSection textSection">
            <div class="col-12 textSectionDiv">
                <h3 class="subHeading">
                    We Aim at
                </h3>
                <div class="subText">
                    <ul>
                        <li>Residential care for the Battered Women</li>
                        <li>Counselling</li>
                        <li>Medical care</li>
                        <li>Ensure the Rights of Women in distress</li>
                        <li>Skill training</li>
                        <li>Upliftment of women through Self-help Groups</li>
                        <li>Networking with other like-minded organizations</li>
                        <li>Legal help</li>
                        <li>Rehabilitation</li>
                        <li>Follow up</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 subSection">
            <div class="imageContainer">
                <img class="mainImg" src="../../assets/images/display-images/42.jpg">
            </div>
        </div>
    </div>

    <hr class="hrLine"/>

    <div class="row col-12 section">
        <div class="col-lg-6 col-sm-12 col-md-12 subSection">
            <div class="col-12 textSectionDiv">
                <h3 class="subHeading">
                    Our vision
                </h3>
                <p class="subText">
                    To build an Integrated human society based on the Gospel values of justice, equality and freedom.
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 subSection">
            <div class="col-12 textSectionDiv">
                <h3 class="subHeading">
                    Our mission
                </h3>
                <p class="subText">
                    To enhance the human dignity of the less privileged through empowerment, liberation and transformation.
                </p>
            </div>
        </div>
    </div>

    <hr class="hrLine"/>

    <div class="row col-12 section">
        <div class="col-lg-12 col-sm-12 col-md-12 subSection invitationSection">
            <div class="col-12 invitationSubSection">
                <h3 class="subHeading">
                    Join us to make our dream a reality by extending your collaboration to
                </h3>
                <div class="subText">
                    <ul>
                        <li>Impart Training, Motivation, Input, Conscientization & Counselling</li>
                        <li>Provide Medical & Legal help </li>
                        <li>Reach the project to all those who are in need</li>
                        <li>Make a difference in the lives of the people through Innovation and Transformation</li>
                        <li>Documentation and Research</li>
                        <li>Make this world a better place to live</li>
                    </ul>
                </div>
                <div class="subText textAlignCenter">
                    <button class="contactBtn"><a routerLink="/contact">Contact Us</a></button>
                </div>
            </div>
        </div>
    </div>

    <hr class="hrLine"/>
    
    <div class="row col-12 section">
        <div class="col-lg-6 col-sm-12 col-md-12 subSection">
            <div class="imageContainer padding0">
                <img class="mainImg" src="../../assets/images/display-images/13.jpg">
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 subSection textSection">
            <div class="col-12 textSectionDiv">
                <h3 class="subHeading">
                    About Us
                </h3>
                <div class="subText">
                    The sisters of St Ann of Luzern, Central Province renders service to society through various ways such as educating children in schools and providing good physical health through our hospitals and other projects for the betterment of the society.
                </div>
                <br />
                <div class="subText">
                    We run Social Welfare and Developmental Programs like
                    <ul>
                        <li>Village Development</li>
                        <li>Promote Organic Farming </li>
                        <li>Upliftment of Women through Self-help Groups</li>
                        <li>Women Shelter Homes</li>
                        <li>Old Age Homes</li>
                        <li>HIV/AIDS centre</li>
                        <li>Boarding for poor children</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <hr class="hrLine"/>

    <div class="row col-12 section">
        <div class="col-lg-12 col-sm-12 col-md-12 subSection invitationSection">
            <div class="col-12 invitationSubSection">
                <div class="subText textAlignCenter">
                    Our Work is like a Drop in the Ocean. But if the drop were not there the Ocean would be Missing.
                    <br />
                    Lets Dream together, Act together and Make Someones Life Better.
                </div>
            </div>
        </div>
    </div>

</section>
<div class="col-12 footer">
    <div class="row socialSites">
        <a><img src="../../assets/images/facebook.png"> </a>
        <a><img src="../../assets/images/instagram.png"> </a>
        <a href="mailto:stannsmaha@gmail.com"><img src="../../assets/images/gmail.png"></a>
        <a><img src="../../assets/images/linkedin.png"> </a>
    </div>
    <div class="row copyrightText"><i class="far fa-copyright"></i> A Unit of St.Ann’s Society, Maharashtra Trust Reg.No.253, Ahmednagar</div>    
</div>