.headerDiv { 
    // display: flex;
    // padding: 30px 20px;
}

.logoImg {
    height: 45px;
}

.name {
    font-family: "Oswald";
    font-size: 24px;
    vertical-align: middle;
    margin-bottom: 0px;
}

.toggleBtn {
    outline: none;
    border: none;
}

.nav-link,
.navbar-brand {
    color: #ffffff;
}

.navbar-toggler-icon {
    float: right;
    position: absolute;
    right: 10px;
    top: 25px;
}

.mainBody {
    padding: 30px 15px;
    height: 600px;
}
